.icon {
  &--male {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    path {
      fill: var(--color-primary);
    }
  }
  &--female {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    path {
      fill: var(--color-primary);
    }
  }
}
