.list__wrapper {
  list-style: none;
  &--item {
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid var(--color-gray-dark-1);
    margin: 1rem 0;
    transition: all 0.2s;
    &:hover {
      background: var(--color-gray-dark-1);
      color: var(--color-gray-light-1);
      box-shadow: 0 0 0.5rem var(--color-gray-dark-1);
    }
  }
}
